/* Element Selectors */
/* input {
    border: 1px solid lightgray !important;
} */

/* Class selectors */
.fade-in-modal {
    animation: fadeinmodal 0.5s;
  }
  @keyframes fadeinmodal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }