/* html {
    position: relative;
    min-height: 100%;
    
    display:flex;
    flex-direction: column; 
    min-height: 100vh;
} */

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page {
  flex: 1 0 auto;
  width: 100%;
}

.is-light {
  background-color: #F48E3F !important;
  color: white !important;
}
