/* html {
    position: relative;
    min-height: 100%;
    
    display:flex;
    flex-direction: column; 
    min-height: 100vh;
} */

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.fade-in-div {
  animation: fadein 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page {
  flex: 1 0 auto;
  width: 100%;
}

.is-light {
  background-color: #f48e3f !important;
  color: white !important;
}

i {
  color: black;
}
