.trip-card {
  background-color: white;
  color: black;
}

/* .trips-hero{
  background-image: url("../../Assets/Images/trips-hero.png");
  background-size: cover;
}

.trips-hero-body {
  min-height: 200px;
} */