.trip-card {
  background-color: white;
  color: black;
}

.trips-hero{
  
height: 300px;
width: 1000px;
}

.dashboard-profile-picture {
  max-height: 90px !important;
  max-width: 90px !important;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 876px) {
  .dashboard-welcome {
    font-size: xx-large !important;
  }
  .dashboard-subtitle {
    font-size: medium;
  }
  .dashboard-profile-picture {
    max-height: 50px !important;
    max-width: 50px !important;
    object-fit: cover;
    margin-left:auto;
    margin-right: auto;
  }
}
