.trip-image {
 border-radius: 10px;
 /* position: absolute; */
 top: 0;
 left: 0;
 /* width: 800px;
 height: 400px; */

}

.single-trip-card {
  background-color: white;
  color: black;
  position: absolute;
  top: 20%;
 left: 60%;
}


.trip-container {
  position: relative;
}

.edit-trip-icon {
  font-size: small;
}

.edit-trip-icon:hover {
  color: #F48E3F;
}

.edit-trip {
  font-size: medium;
}