.trip-image {
 border-radius: 10px;
 /* position: absolute; */
 top: 0;
 left: 0;
}

.single-trip-card {
  background-color: white;
  color: black;
  position: absolute;
  top: 20%;
 left: 43%;
}


.trip-container {
  position: relative;
}
