@import "../../sass/GlobalVariables.scss";

.trip-image {
 border-radius: 10px;




}
/* 
.single-trip-card {
  background-color: white;
  color: black;
  position: absolute;
  top: 20%;
 left: 60%;
} */

/* 
.trip-container {
  position: relative;
} */

.edit-trip-icon {
  font-size: small;
}

.edit-trip-icon:hover {
  color: #F48E3F;

}

.edit-trip {
  font-size: medium;
}

.expense-button {
  background-color: #F48E3F;
  color: white
}

/* .expense-button:hover {
  background-color: #F3812B;
  color: white
} */

.all-expenses{
  color: $purple;
  text-decoration: underline;
}

.all-expenses:hover{
  color:$orange;
  text-decoration: underline;
}



element.style {
}
.card-header:last-child, .card-content:last-child, .card-footer:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.card-header:first-child, .card-content:first-child, .card-footer:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.card-content {
    background-color: transparent;
    padding: 1.5rem;
}


// .expenses-div {
//     background-color: whitesmoke;
//     border-radius: 0.25rem;
//     // box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%)
//     // // bo, 0 0px 0 1px rgb(10 10 10 / 2%);
//   box-shadow: 0 0.5rem 1rem -0.125rem #0a0a0a1e;

// }