/* // @use "../../sass/App.scss"; */

/* // inherit font family from App.scss */



/* invite other travelers form  */
.input {
  background-color: white;
}
.fa-plus {
  color: #33c1bf;
}

.validation {
  color: red;
  /* font-style: italic; */
}

.travelers {
  display: inline-block;
}
.travelers-tag {
  border-radius: 15px;
  border: 1px solid #33c1bf;
  background-color: #33c1bf;
  color: white;
  line-height: 45px;
}

.remove-travler-x:hover{
cursor: pointer;
}

.fa-user-minus{
  color: #2a7e7a;
}

.fa-user-minus:hover{
  color: #0c2726;
}

@media screen and (max-width: 375px) {
  .travelers-tag {
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 300px;
  }
}