.checklist-buttons {
  min-width: 100px;
}

/* .checklist-description {
    min-width: 400px;
    max-width: 400px;
}  */

.packing-icon {
  cursor: pointer;
}

.packing-icon:hover {
  color: #f48e3f;
}

.packed-item {
  text-decoration: line-through;
}

.list-container {
  background-color: #938db9;
}

.checklist-checkbox{
align-self: auto;
}

