.skip-link {
  color: #f48e3f;
}
.skip-link:hover {
  color: #f6a465;
  text-decoration: underline;
}

.profile-picture {
  border-radius: 50;
  max-height: 175px !important;
  max-width: 175px !important;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.hide-icon {
  display: none;
}

.spinner {
  padding-left: 25px;
  padding-right: 25px;
}