.skip-link {
  color: #f48e3f;
}
.skip-link:hover {
  color: #f6a465;
  text-decoration: underline;
}

.profile-picture {
  border-radius: 50%;
  height: 175px !important;
  width: 175px !important;
  display:flex;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}


.hide-icon {
  display: none;
}

.spinner {
  padding-left: 25px;
  padding-right: 25px;
}

/* .upload-field {
  margin-left: 110px !important;
} */

/* Media query at 1406px */
/* @media screen and (max-width: 1407px) {
  .upload-field{
    margin-left: 70px !important;
  }
} */

/* Media query at 1215px */
/* @media screen and (max-width: 1215px) {
  .upload-field{
    margin-left: 20px !important;
  }
} */


/* Media query at 768px */
/* @media screen and (max-width: 768px) {
  .upload-field{
    margin-left: 30px !important;
  }
} */
