.profile-doodle {
  max-width: 1280px;
}

.doodle-sun {
  animation: fadeinsun 3s forwards;
}
@keyframes fadeinsun {
  from {
    transform: translateY(50px) ;
    fill: #fff018;
  }
  to {
    transform: translateY(-25px);
    fill: #f48e00;
  }
}

.doodle-car {
  position: relative;
  z-index: 1;	
  animation: animateleft 3s;
}
@keyframes animateleft {
  from {
    transform: translateX(-800px);
  }
  to {
    transform: translateX(0px);
  }
}


