/* .hero {
    background-image: url("../../Assets/Images/hero.jpg");
    background-size: cover;
} */

 video {
     position: absolute;
     width: 100%;
     left: 50%;
     height: 100%;
     objectFit: cover;
     transform: translate(-50%, -50%);
     zIndex: -1;
 }