/* .hero {
    background-image: url("../../Assets/Images/hero.jpg");
    background-size: cover;
} */

/* video { */
/* position: absolute; */
/* width: 100%; */
/* left: 50%;
     height: 100%; */
/* object-fit: cover;
     transform: translate(-50%, -50%);
     z-index: -1; */
/* height: 100%; */
/* } */

video {
  display: block;
  position: relative;
  width: 100%;
  max-height: 700px;
  object-fit: cover;
}

.hero-section {
  position: relative;
}

.hero-title {
  color: white;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}

.home-signup-button {
  position: absolute;
  left: 40%;
  top: 50%;
}

.home-login-button {
  position: absolute;
  left: 55%;
  top: 50%;
}

.logged-out-slogan {
  position: absolute;
  z-index: 0;
  top: 15%;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 70px;
  margin: 90px;
}

.logged-in-slogan {
  position: absolute;
  z-index: 0;
  top: 30%;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 70px;
  margin: 90px;
}

/* .homepage-container {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 50%;
} */

/* These rules take effect when the browser's width is 1770px or less */

@media screen and (max-width: 1770px) {
  .home-signup-button {
    position: absolute;
    left: 40%;
    top: 50%;
  }
  .home-login-button {
    position: absolute;
    left: 53%;
    top: 50%;
  }
}

/* These rules take effect when the browser's width is 1200px or less */

@media screen and (max-width: 1200px) {
  .home-signup-button {
    position: absolute;
    left: 35%;
    top: 50%;
  }
  .home-login-button {
    position: absolute;
    left: 55%;
    top: 50%;
  }

  .logged-in-slogan, .logged-out-slogan {
    font-size: 55px;
    margin: 60px;
  }
}

/* These rules take effect when the browser's width is 620px or less */

@media screen and (max-width: 620px) {
  .hero-title {
    top: 30%;
  }
  .home-signup-button {
    position: absolute;
    left: 20%;
    top: 50%;
  }
  .home-login-button {
    position: absolute;
    left: 50%;
    top: 50%;
  }
  .logged-in-slogan, .logged-out-slogan {
    font-size: 40px;
    margin: 40px;
  }
}
/* for most mobile devices */
@media screen and (max-width: 375px) {
  .hero-title {
    top: 30%;
  }
  .home-signup-button {
    position: absolute;
    left: 20%;
    top: 50%;
    height: 50px;
    width: 100px;
    margin: 2px;
  }
  .home-login-button {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 100px;
    margin: 2px;
  }
  .logged-in-slogan, .logged-out-slogan {
    font-size: 40px;
    margin: 10px;
  }
}
