.animated-logo {
  position: absolute;
  z-index: 0;
  top: 15%;
  left: 0;
  right: 0;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated-logo-contrail {
  fill: #ebdfcf;
  animation: changecolor 2s forwards;
  animation-delay: 1s;
}
@keyframes changecolor {
  from {
    fill: #ebdfcf;
  }
  to {
    fill: #f48e00;
  }
}

.animated-logo-plane {
  fill: #b1b3be;
  animation: changecolorPlane 2s forwards;
  animation-delay: 3s;
}
@keyframes changecolorPlane {
  from {
    fill: #b1b3be;
  }
  to {
    fill: #2e3560;
  }
}

.animated-globe-top,
.animated-globe-bottom {
  fill: #b1b3be;
  animation: changecolorglobe 2s forwards;
  animation-delay: 2s;
}
@keyframes changecolorglobe {
  from {
    fill: #b1b3be;
  }
  to {
    fill: #2e3560;
  }
}

@media screen and (max-width: 1200px) {
  .animated-logo {
    width: 400px;
  }
}

@media screen and (max-width: 1024px) {
  .animated-logo {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .animated-logo {
    width: 200px;
  }
}
