.expense-row.is-hoverable:hover {
  background-color: #635b91 !important;
}

.expenses-table {
  background-color: #a29dc2;
  color: white;
}

.expense-table-head {
  background-color: #2e3560 !important;
}

.expenses-table.is-striped
  .expenses-body
  .expense-row:not(.is-selected):nth-child(even) {
  background-color: #7c74ab;
}


.edit-expense-icon {
  color: white;
}

.details-dropdown {
  background-color: white;
}

.fa-caret-square-down:hover {
  cursor: pointer;
}


.fa-caret-square-down {
  color: white !important;
  font-size: 18px;
}

.fa-caret-square-down:hover {
  color: black !important;
}
