a.navbar-link:hover, a.navbar-link:active {
   background-color: #ebebeb !important;
}

.navbar {
    border-bottom: 4px solid #2E3560;
}

.navbar-divider {
    background-color: #2e356095;
}

.navbar-profile-picture {
    border-radius: 50%;
    object-fit: cover;
    min-height: 45px;
    width:45px;
    height:45px;
    border: 2px solid #2E3560;
    /* max-height: 30px !important; */
    /* max-height: 10px !important; */
}
